// some bootstrap variables
$input-border-radius: 0;

// bower:scss
@import "bootstrap/scss/bootstrap.scss";
// endbower

// add some animations to the comment list
@import "animation";

body {
  background: $gray-lightest;
  padding: 2rem;
}

.app-top {
  @extend .rounded-top;
  background: $gray-lighter;
}

.app-bottom {
  @extend .rounded-bottom;
  border: 1px solid $gray-lighter;
  background: white;
}

.filter {
  background: url('../images/1479184739_icon-111-search.png') no-repeat scroll 0.5rem 0.5rem;
  padding-left: 2rem;
}

.comment {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.comment-avatar {
  width: 5rem;
  height: 5rem;
  overflow: hidden;

  img {
    @include img-fluid;
  }
}

.comment-details {
  padding-left: 6rem;

  &>* {
    padding-top: 0.5rem;
  }
}
